.orders{
    /* border: 1px solid red; */
    width: 100;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.ordertable{
    width:80%;
    /* padding: 10px 20px; */
    text-align: center;
    /* border-collapse:separate; */
    border-spacing: 15px;
    
    
}

.ordertable tr:nth-child(2n-1){
    background-color: rgba(235, 232, 232, 0.331);
    color: black;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    padding: 0 20px;
}

.ordertable th{
    background-color: rgba(0, 0, 0, 0.674);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 15px;
    
}


.ordertable td:nth-child(2n-1){
    /* background-color: rgba(235, 232, 232, 0.331);
    color: black; */
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.ordertable td{
    text-align: left;
    padding-left: 15px;
}