.products{
    display: flex;
    gap: 20px;
    
}

.navbar{
    /* width: 100vw; */
}

.sidebar{
    width:15%;
    height: 100vh;
    border-right: 1px solid rgb(210, 209, 209);
    position: sticky;
}

.prod-container{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
}


@media only screen and (max-width: 1190px){
    .prod-container{
        flex: 6.5;
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


@media only screen and (max-width: 768px){
    .prod-container{
        width: 60%;
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sidebar{
        width: 40%;
    }

   
}


@media only screen and (max-width: 340px){
    .prod-container{
        flex: 6.5;
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 40px;
    }

    .sidebar{
        width: 50%;
    }

    .prod-container{
        width: 50%;
    }
}








